<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="grade-eleven.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <title>Lớp 11</title>
</head>
<body>
    <div class="testimonials">
        <div class="inner">
            <h1>Khối Lớp 11</h1>
            <div class="border"></div>

            <div class="row">
                <div class="column">
                    <div class="testimonial">
                        <img src="grade11/class_11b1.jpg" alt="">
                        <div class="name">
                            <div class="container">
                                <div class="form-container student-container">
                                    <form action="11b1" method="get" modelattribute="studentInfo">
                                        <button>Lớp 11b1</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>

                        <p>
                            Hello I'm grade 11b1.
                        </p>
                    </div>
                </div>

                <div class="column">
                    <div class="testimonial">
                        <img src="grade11/class11b2.jpg" alt="">
                        <div class="name">
                            <div class="container">
                                <div class="form-container student-container">
                                    <form action="11b2" method="get" modelattribute="studentInfo">
                                        <button>Lớp 11b2</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>

                        <p>
                            Hello I'm grade 11b2.
                        </p>
                    </div>
                </div>

                <div class="column">
                    <div class="testimonial">
                        <img src="grade11/class11b3.jpg" alt="">
                        <div class="name">
                            <div class="container">
                                <div class="form-container student-container">
                                    <form action="11b3" method="get" modelattribute="studentInfo">
                                        <button>Lớp 11b3</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>

                        <p>
                            Hello I'm grade 11b3.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>