<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.css">
    <script src="https://kit.fontawesome.com/99958fa2ed.js" crossorigin="anonymous"></script>
    <link rel="stylesheet">
    <title>Học sinh</title>
</head>
<body>
<div class="container"  id="container">
    <h1 class="display-4 text-center"><i class="fas fa-book-open text-primary"></i>Danh <span class="text-primary">Sách </span>Học Sinh</h1>
    <table class="table table-striped mt-5">
        <thead>
        <tr>
            <th>ID</th>
            <th>Họ và Tên</th>
            <th>Lớp</th>
            <th>SĐT</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <ul th:each="studentInfo : ${class10b1}">
                <li th:text ="${studentInfo.ID+''+studentInfo.name+''+studentInfo.class1+
                ''+studentInfo.phone+''+studentInfo.email}">
                </li>
            </ul>

            <ul th:each="studentInfo : ${class10b2}">
                <li th:text ="${studentInfo.ID+''+studentInfo.name+''+studentInfo.class1+
                ''+studentInfo.phone+''+studentInfo.email}">
                </li>
            </ul>

            <ul th:each="studentInfo : ${class10b3}">
                <li th:text ="${studentInfo.ID+''+studentInfo.name+''+studentInfo.class1+
                ''+studentInfo.phone+''+studentInfo.email}">
                </li>
            </ul>

            <ul th:each="studentInfo : ${class11b1}">
                <li th:text ="${studentInfo.ID+''+studentInfo.name+''+studentInfo.class1+
                ''+studentInfo.phone+''+studentInfo.email}">
                </li>
            </ul>

            <ul th:each="studentInfo : ${class11b2}">
                <li th:text ="${studentInfo.ID+''+studentInfo.name+''+studentInfo.class1+
                ''+studentInfo.phone+''+studentInfo.email}">
                </li>
            </ul>

            <ul th:each="studentInfo : ${class11b3}">
                <li th:text ="${studentInfo.ID+''+studentInfo.name+''+studentInfo.class1+
                ''+studentInfo.phone+''+studentInfo.email}">
                </li>
            </ul>

            <ul th:each="studentInfo : ${class12b1}">
                <li th:text ="${studentInfo.ID+''+studentInfo.name+''+studentInfo.class1+
                ''+studentInfo.phone+''+studentInfo.email}">
                </li>
            </ul>

            <ul th:each="studentInfo : ${class12b2}">
                <li th:text ="${studentInfo.ID+''+studentInfo.name+''+studentInfo.class1+
                ''+studentInfo.phone+''+studentInfo.email}">
                </li>
            </ul>

            <ul th:each="studentInfo : ${class12b3}">
                <li th:text ="${studentInfo.ID+''+studentInfo.name+''+studentInfo.class1+
                ''+studentInfo.phone+''+studentInfo.email}">
                </li>
            </ul>
        </tr>
        </tbody>
    </table>
</div>

<script src="Student.js"></script>
</body>
</html>