<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Access Denied</title>
    <style>
        h2{
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="container display-6 mt-5">
        <h2>Từ Chối Truy Cập</h2>
        <div class="card bg-danger text-white">
            <div class="card-body text-center">Bạn Không Có Quyền Truy Cập</div>
        </div>
    </div>
</body>
</html>