<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.css">
    <script src="https://kit.fontawesome.com/99958fa2ed.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/ClassList.css">
    <title>Lớp</title>
</head>
<body>
<div class="sidebar">
    <div class="sidebar-brand">
        <h2><span>Class</span></h2>
    </div>

    <div class="sidebar-menu">
        <div class="all-grade" onclick="addUrlParameter('grade','all-grade')">Tất Cả Các Khối</div>
        <div class="10" onclick="addUrlParameter('grade','10')">Khối 10</div>
        <div class="11" onclick="addUrlParameter('grade','11')">Khối 11</div>
        <div class="12" onclick="addUrlParameter('grade','12')">Khối 12</div>
    </div>
</div>

<div class="main-content">
    <header>
        <h2>
            <label>
                <i class="fas fa-bars"></i> <a href="/">Trang chủ</a>
            </label>
        </h2>
    </header>

    <main>
        <div class="container mt-4">
            <h1 class="display-4 text-center"><i class="fas fa-book-open text-primary"></i>Danh <span class="text-primary">Sách </span>Lớp</h1>
            <table class="table table-striped mt-5" >
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên Lớp</th>
                    <th sec:authorize="hasAnyAuthority('ADMIN','USER')"><a href="add-class" class="add-button ">Add</a></th>
                </tr>
                </thead>
                <tbody id="class-list">
                <tr th:each="class : ${classList}">
                        <td th:text="${class.ID}"></td>
                        <td style='width:80%;' th:text="${class.name}"></td>
                        <td sec:authorize="hasAnyAuthority('ADMIN','USER')">
                            <span><a th:href="@{'edit-class?id='+${class.getID()}}">Edit</a> | </span>
                            <span><a th:href="@{'delete-class?id='+${class.getID()}}">Delete</a> | </span> </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
<script>
    function addUrlParameter(name, value) {
        var searchParams = new URLSearchParams(window.location.search)
        searchParams.set(name, value)
        window.location.search = searchParams.toString()
    }

    const queryString = window.location.search;
    console.log(queryString)
    const urlParam = new URLSearchParams(queryString)

    window.onload = function (){
        let param = urlParam.get('grade')!=null?urlParam.get('grade'):'all-grade';
        let div = document.getElementsByClassName(param);
        div[0].classList.add("active");

        param =  urlParam.get('sort')!=null?urlParam.get('sort'):'id';
        div = document.getElementById(param);
        div.checked = true;
    }
</script>
</body>
</html>