<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.css">
    <script src="https://kit.fontawesome.com/99958fa2ed.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="Teacher.css">
    <title>Xác nhận</title>
</head>
<body>
    <div class="container mt-4">
        <h1 class="display-4 text-center">Xác nhận mật khẩu cũ</h1>
            <form th:action="@{/confirm-pass}" name="myForm" onsubmit="return validateForm()" method="post">
                 <div class="form-group">
                     <label for="old-pass">Mật khẩu cũ</label>
                     <input type="text" id="old-pass" class="form-control" name="fname">
                 </div>
                <input type="submit" class="btn btn-block btn-primary">
                <input type="button" onclick="window.location.href='/'" class="btn btn-block btn-primary" value="Cancel">
            </form>
        </div>
    </body>
<script>
    function validateForm() {
        let x = document.forms["myForm"]["fname"].value;
        if (x === "") {
            alert("Name must be filled out");
            return false;
        }
    }
</script>
</html>