<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Error_Page.css">
    <title>Error Page</title>
</head>
<body>
    <div class="error-page">
        <div class="content">
            <h1>404</h1>
            <h4>Opps! Page Not Found </h4>
            <p>Sorry, the page you are looking for doesn't exist. If you think something is broken, report the problem</p>
            <div class="btns">
                <a href="/">return home</a>
                <a href="#">report problem</a>
            </div>
        </div>
    </div>
</body>
</html>