<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Login_Form.css">
    <title>Login Page</title>
</head>
<body>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form th:action="@{/register}" method="post" th:object="${users}">
            <h1>Tạo Tài Khoản</h1>
            <input type="email" placeholder="Email" name="username">
            <input type="password" placeholder="Password" name="password">
            <button>Đăng ký</button>
        </form>
    </div>

    <div class="form-container sign-in-container">
        <form th:action="@{/login}" method="post">
            <h1>Đăng Nhập</h1>
            <input type="email" placeholder="Email" name="username">
            <input type="password" placeholder="Password" name="password">
            <button>Đăng nhập</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Chào Mừng Quay Trở Lại</h1>
                <p>
                    Để tiếp tục kết nối với chúng tôi,
                    xin hãy đăng nhập bằng thông tin cá
                    nhân của bạn
                </p>
                <button class="ghost" id="signIn">Đăng Nhập</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Xin chào các bạn</h1>
                <p>
                    Nhập thông tin cá nhân của bạn và
                    bắt đầu cuộc hành trình với chúng
                    tôi
                </p>
                <button class="ghost" id="signUp">Đăng Ký</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/Login_Form.js"></script>
</body>
</html>