<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.css">
    <script src="https://kit.fontawesome.com/99958fa2ed.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/Student.css">
    <title>Học sinh</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="container"  id="container">
    <h1 class="display-4 text-center"><i class="fas fa-book-open text-primary"></i>Danh <span class="text-primary">Sách </span>Học Sinh</h1>
    <form th:action="@{/class/{grade}}" method="get">
    <input id="txtSearch" type ="text" name="keyword">
       <button type="submit" class="search-button">Search</button>
    </form>
    <table id ="studentTable"class="table table-striped mt-5">
        <thead>
        <tr>
            <th><input type="radio" name="Subjects" class="radio-button" id="id" onclick="addUrlParameter('sort','id');">
                <label class="triangle" for="id"></label>ID</th>
            <th><input type="radio" name="Subjects" class="radio-button" id="name" onclick="addUrlParameter('sort','name');">
                <label class="triangle" for="name"></label>Họ và Tên</th>
            <th>ID Lớp</th>
            <th>SĐT</th>
            <th>Email</th>
            <th ><a href="add-student" class="add-button ">Add</a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${studentList}">
            <td th:text ="${student.ID}"></td>
            <td th:text ="${student.name}"></td>
            <td th:text ="${student.classId}"></td>
            <td th:text ="${student.phoneNumber}"></td>
            <td th:text ="${student.email}"></td>
            <td><span><a th:href="@{'/class/edit-student?id='+${student.getID()}}">Edit</a> | </span>
                <span><a th:href="@{'/class/delete-student?id='+${student.getID()}}">Delete</a> | </span> </td>
        </tr>
        <script>
            function addUrlParameter(name, value) {
                var searchParams = new URLSearchParams(window.location.search)
                searchParams.set(name, value)
                window.location.search = searchParams.toString()
            }

            const queryString = window.location.search;
            console.log(queryString)
            const urlParam = new URLSearchParams(queryString)

            window.onload = function (){

                param =  urlParam.get('sort')!=null?urlParam.get('sort'):'id';
                div = document.getElementById(param);
                div.checked = true;
            }
        </script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var studentList = /*[[${studentList}]]*/ ;
            /*]]>*/
            $('#txtSearch').on('keyup',function (){
             var value= $(this).val();
             var data = FilterFunction(value,studentList);
             rebuildTable(data);
            });
            function  FilterFunction(value, data)
            {
                var filteredData =[];
                for(var i = 0; i<data.length; i++)
                {
                    value = value.toLowerCase();
                    var name = data[i].name.toLowerCase();
                    if(name.includes(value))
                    {
                        filteredData.push(data[i]);
                    }
                }
                return filteredData;
            }
            function rebuildTable(data){
                var table = document.getElementById('studentTable');
                table.innerHTML='';
                for(var i=0;i<data.length;i++)
                {
                    var row =`<tr>
                                <td>${data[i].id}</td>
                                <td>${data[i].name}</td>
                                <td>${data[i].classId}</td>
                                <td>${data[i].phoneNumber}<td>
                                <td>${data[i].email}</td>
                                </tr>`
                    table.innerHTML +=row
                }
            }


        </script>
        </tbody>
    </table>
</div>
</body>
</html>